html {
  font-family: "Playfair Display", serif, "Poppins", sans-serif;
  background-color: #303229;
}

a {
  color: #b1a79c;
}

p {
  font-family: "Poppins", sans-serif;
}

/* HEADER */
.header {
  font-family: "Poppins", sans-serif;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(37, 43, 66, 1%));
  margin-bottom: 5%;
}

.header-top {
  display: grid;
  grid-template-columns: 1fr 2fr;
  margin: 0 auto;
  padding: 20px;
}

.banner {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  font-weight: 500;
  font-size: 1.2rem;
  padding: 20px;
}

.nav > ul > li {
  display: inline-flex;
  padding: 10px;
}

li > a:hover {
  color: white;
}

/* BUTTON */
.btn {
  min-width: 210px;
  min-height: 50px;

  padding: 15px;

  background-color: #e2a23b;
  border-radius: 5px;

  text-align: center;
  color: #303229;
}

/* PROMO */

.promo {
  display: grid;
  grid-template-columns: 1fr 1fr;

  grid-gap: 10px;
  padding: 20px;
  margin-bottom: 5%;

  justify-items: center;
}
.promo__banner {
  position: relative;

  max-width: 700px;
  padding: 10px;

  border-radius: 5px;
}

.promo__banner > img {
  border: 5px solid #e2a23b;
  border-radius: 5px;
}

.promo__img--banner-1 {
  filter: drop-shadow(-4px 4px 10px #e2a23b);
}

.promo__img--banner-2 {
  filter: drop-shadow(4px 4px 10px #e2a23b);
}

.promo__banner > h2 {
  position: absolute;
  top: 20px;
  left: 30px;

  padding-right: 20px;

  font-size: 5vw;
  font-weight: 700;
  color: #e2a23b;
}

.promo__banner > p {
  position: absolute;
  text-align: left;

  top: 35%;
  left: 30px;
  padding-right: 20px;

  font-size: 1.5vw;
  color: #e9dec3;
}

/* CONTENT */
.content {
  display: grid;
  grid-template-columns: 0.3fr 3fr 0.3fr;

  column-gap: 20px;
}

.main {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

/* SIDEBAR-LEFT */
.sidebar-left {
  width: 10vw;
  height: 50vh;
  align-self: center;
  justify-self: start;
  text-align: left;

  padding: 20px;

  font-size: 1.5vw;
  color: #e2a23b;
  line-height: 2.5rem;

  border: 5px solid #e2a23b;
  border-left: 0;
  border-radius: 5px;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(37, 43, 66, 1%));
  filter: drop-shadow(4px 4px 10px #e2a23b);
  transition: 1s ease;
}

.sidebar-left > nav {
  display: none;
}

.sidebar-left:hover {
  width: 15vw;
}

.sidebar-left:hover > nav {
  display: flex;
  justify-content: flex-end;
}

.sidebar-left li {
  padding-left: 15px;
}

/* MAIN */
/* CONTRIBUTOR */

.contributor {
  grid-column: 1/4;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background: linear-gradient(rgba(37, 43, 66, 0.01), rgba(0, 0, 0, 1)) 50%;
}

.contributor > img {
  width: 150px;
  height: 60px;
}

/* NFT-TOKEN-SISTEM */

.nft-token-sistem {
  display: flex;
  grid-column: 1/3;
  position: relative;
}

.nft-token-sistem > h2 {
  position: absolute;
  top: 2%;
  left: 25%;
  z-index: 2;
  color: #e2a23b;
  font-weight: 700;
  font-size: 1.5rem;
  filter: drop-shadow(-1px 1px 1px black);
}

.nft-token-sistem__knight {
  position: absolute;
  top: 2%;
  left: 70%;
  display: grid;
  width: 25%;
  color: #e2a23b;
  text-align: center;
}

.title-knight {
  border-bottom-right-radius: 5px;
  border-bottom-left-radius: 5px;
  height: 5vh;
  background-color: rgba(0, 0, 0, 60%);
}

/* MEDIAVEL METAVERSE */

.mediavel-metaverse {
  grid-column: 3/4;
  background-color: #15181f;
}

.title {
  color: #e2a23b;
  font-size: 2rem;
  text-align: center;

  padding: 10%;
}

.benefits {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  row-gap: 5%;
  justify-items: center;
}

.benefits__block {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;

  color: #e2a23b;
  font-family: "Poppins";
  font-size: 0.8rem;
  text-align: center;

  width: 10vw;
  height: 18vh;

  border: 1px solid #e2a23b;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 70%);
}

.benefits__block > img {
  width: 50%;
  height: 50%;
  padding: 2%;
}

/* SUBSRIBER */
.subscriber {
  display: flex;
  grid-column: 1/4;
  position: relative;
  margin-bottom: 5%;
  box-shadow: 0px 10px 20px -5px rgba(0, 0, 0, 0.7);
}

.subscriber__block {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  right: 0px;
  width: 40%;
  height: 100%;

  padding: 20px;
}

.subscriber__block > p {
  font-size: 1.5rem;
  color: #e2a23b;
  font-weight: 600;
}
.subscriber__input {
  position: relative;
}

.subscriber__input > input {
  width: 80%;
  height: 50px;
  padding: 10px;
  background-color: #b1a79c;
  border: 1px solid #e2a23b;
  border-radius: 5px;
}

.btn__sub {
  position: absolute;
  right: 0px;
  width: 100px;
  height: 50px;
  padding: 5px;
  font-size: 0.8rem;
  background-color: #e2a23b;
  border-radius: 5px;
}

/* CARD */

.card {
  display: flex;
  justify-content: center;
  border-radius: 5px;
  border: 1px solid #e2a23b;
  filter: drop-shadow(4px 4px 10px #e2a23b);
  background-color: #15181f;
  margin: 5%;
  padding: 10px 0px;
  transition: 1s ease;
}

.card:hover {
  transform: scale(1.2);
}
.card1 {
  grid-column: 1/2;
}

.card2 {
  grid-column: 2/3;
}

.card3 {
  grid-column: 3/4;
}

/* SIDEBAR-RIGHT */

.sidebar-right {
  width: 10vw;
  height: 50vh;
  align-self: center;
  justify-self: end;
  text-align: right;

  padding: 20px;

  font-size: 1.5vw;
  color: #e2a23b;
  line-height: 2.5rem;

  border: 5px solid #e2a23b;
  border-right: 0;
  border-radius: 5px;
  background: linear-gradient(rgba(0, 0, 0, 1), rgba(37, 43, 66, 1%));
  filter: drop-shadow(4px 4px 10px #e2a23b);
  transition: 1s ease;
}

.sidebar-right > nav {
  display: none;
  min-width: 200px;
}
.sidebar-right:hover {
  width: 15vw;
}

.sidebar-right:hover > nav {
  display: flex;
  justify-content: flex-end;
}

.sidebar-right li {
  text-align: center;
  margin: 5px;
  padding: 10px;
}

/* FOOTER */
.footer {
  display: grid;
  justify-items: center;
  align-items: center;
  grid-template-columns: 2fr 1fr 1fr 1fr;
  margin-top: 5%;
  height: 20%;
  background-color: #15181f;
}

.footer__logo {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

.footer__title {
  color: #b1a79c;
  font-weight: 400;
}

.footer__logo > img {
  width: 133px;
  height: 133px;
  margin-bottom: 20px;
}

.footer__nav {
  line-height: 30px;
  padding: 10px;
  font-family: "Poppins";
}

.footer__nav__title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 10px;
  color: #e2a23b;
  font-family: "Playfair Display";
}

.copyright {
  display: grid;
  grid-column: 1/5;
  padding: 2%;

  width: 100%;
  background-color: black;
  color: #b1a79c;
}

/* MEDIA */

@media (max-width: 4000px) {
  .header {
    max-width: 1400px;
    margin: 0 auto;
  }
  .promo {
    max-width: 1400px;
    margin: 0 auto;
  }
  .promo__banner > h2 {
    font-size: 5rem;
  }
  .promo__banner > p {
    font-size: 2rem;
  }
  .content {
    max-width: 1400px;
    margin: 0 auto;
  }
  .nft-token-sistem__knight > p {
    height: 2vh;
  }
  .benefits__block {
    width: 3vw;
    height: 10vh;
  }
  .sidebar-left,
  .sidebar-right {
    width: 3vw;
    height: 35vh;
    font-size: 1rem;
  }
  .sidebar-left:hover,
  .sidebar-right:hover {
    width: 5vw;
  }
  .sidebar-right__nav {
    padding-right: 50px;
  }
  .footer {
    max-width: 1400px;
    margin: 0 auto;
  }
}
@media (max-width: 2000px) {
  .benefits__block {
    width: 6vw;
    height: 10vh;
  }
  .sidebar-left,
  .sidebar-right {
    width: 6vw;
    height: 35vh;
    font-size: 1rem;
  }
  .sidebar-left:hover,
  .sidebar-right:hover {
    width: 9vw;
  }
  .sidebar-right__nav {
    padding-right: 60px;
  }
}
@media (max-width: 1500px) {
  .header {
    max-width: 100%;
    margin: 0 auto;
  }
  .promo {
    max-width: 100%;
    margin: 0 auto;
  }
  .promo__banner > h2 {
    font-size: 5rem;
  }
  .promo__banner > p {
    font-size: 1.5rem;
  }
  .content {
    max-width: 100%;
    margin: 0 auto;
  }
  .nft-token-sistem__knight > p {
    height: 3vh;
  }
  .benefits__block {
    width: 10vw;
    height: 15vh;
  }
  .sidebar-left,
  .sidebar-right {
    width: 10vw;
    height: 50vh;
    font-size: 1rem;
  }
  .sidebar-left:hover,
  .sidebar-right:hover {
    width: 12vw;
  }
  .sidebar-right__nav {
    padding-right: 50px;
  }
  .footer {
    max-width: 100%;
    margin: 0 auto;
  }
}
@media (max-width: 1300px) {
  .promo__banner > h2 {
    font-size: 5rem;
  }
  .promo__banner > p {
    top: 40%;
    font-size: 1.2rem;
  }
  .content {
    display: grid;
    grid-template-columns: 0.5fr 0.5fr auto;
    grid-column-gap: 10px;
  }
  .main {
    grid-column: 1/4;
    order: 3;
  }
  .nft-token-sistem__knight > p {
    height: 4vh;
  }
  .benefits__block {
    width: 10vw;
    height: 15vh;
  }

  .sidebar-left {
    grid-column: 1/2;
    order: 1;
    display: inline-flex;
  }
  .sidebar-right {
    grid-column: 2/4;
    order: 2;
  }
  .sidebar-left,
  .sidebar-right {
    height: 20vh;
    width: 100%;
    margin-bottom: 10%;
  }
  .sidebar-left:hover,
  .sidebar-right:hover {
    width: 100%;
  }

  .sidebar-left__nav ul > li,
  .sidebar-right__nav ul > li {
    display: inline-flex;
    font-size: 1rem;
  }

  .btn__sub {
    right: 10%;
  }
}

@media (max-width: 1000px) {
  .promo__banner > h2 {
    font-size: 3rem;
  }
  .promo__banner > p {
    font-size: 1rem;
  }

  .sidebar-right__nav ul > li {
    padding: 0;
  }

  .benefits__block {
    height: 9vh;
  }
  .sidebar-right,
  .sidebar-left {
    width: 100%;
    height: 70%;
  }
  .sidebar-left > nav,
  .sidebar-right > nav {
    display: inline-flex;
  }

  .sidebar-left__nav ul > li,
  .sidebar-right__nav ul > li {
    font-size: 0.7rem;
  }
  .sidebar-right__nav {
    padding-right: 0;
  }
}

@media (max-width: 800px) {
  .nav {
    font-size: 1rem;
  }
  .promo {
    grid-template-columns: 1fr auto;
    grid-template-rows: 1fr auto;
    grid-auto-flow: column;
  }
  .promo__banner > h2 {
    font-size: 5rem;
  }
  .promo__banner > p {
    font-size: 1.5rem;
  }
  .content {
    display: flex;
    flex-direction: column;
  }
  .main {
    display: flex;
    flex-direction: column;
  }

  .title-knight {
    font-size: 0.9rem;
    height: 5vh;
  }
  .title {
    font-size: 1.5rem;
  }

  .mediavel-metaverse > h1 {
    font-size: 5rem;
  }

  .benefits {
    width: 80%;
    padding: 5%;
    margin: 5% auto;
    gap: 15%;
    height: 70vh;

    justify-items: baseline;
  }
  .benefits__block {
    width: 100%;
    height: 100%;
  }
  .subscriber__block {
    width: 50%;
  }
  .card {
    margin: 5% auto;
  }

  .sidebar-left {
    order: 9;
  }
  .sidebar-right {
    order: 10;
  }

  .sidebar-right,
  .sidebar-left {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;

    width: 70%;
    height: 50%;

    font-size: 1.5rem;
    border: 5px solid #e2a23b;
  }

  .sidebar-left > nav,
  .sidebar-right > nav {
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    font-size: 1.5rem;
  }
  .sidebar-right:hover,
  .sidebar-left:hover {
    width: 70%;
    display: inline-flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
  }

  .sidebar-left__nav ul > li,
  .sidebar-right__nav ul > li {
    font-size: 1.3rem;
  }
}

@media (max-width: 600px) {
  .header-top > img {
    width: 100%;
    padding: 5%;
  }
  .banner {
    flex-wrap: wrap;
    justify-content: center;
  }
  .btn {
    margin: 5% auto;
  }
  .nav > ul {
    display: inline-flex;
    flex-direction: column;
    justify-content: center;
  }
  .promo__banner > h2 {
    font-size: 3.2rem;
  }
  .promo__banner > p {
    font-size: 1rem;
  }
  .contributor {
    display: flex;
    flex-direction: column;
  }
  .nft-token-sistem > h2 {
    font-size: 1.2rem;
  }
  .nft-token-sistem__knight > p {
    font-size: 0.7rem;
  }

  .mediavel-metaverse > h1 {
    font-size: 2.9rem;
  }
  .benefits {
    height: 50vh;
  }
  .subscriber__block {
    width: 100%;
  }
  .footer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: flex-start;
  }
}

@media (max-width: 400px) {
  .header-top {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .header-top > img {
    width: 60%;
  }

  .promo__banner > h2 {
    font-size: 3rem;
  }
  .promo__banner > p {
    top: 40%;
    font-size: 0.7rem;
  }

  .nft-token-sistem > h2 {
    font-size: 1rem;
  }
  .sidebar-right__nav {
    padding: 1%;
  }
}
